.root {
  padding: 32px;

  .result-area {
    // border: 1px solid rgba(0, 0, 0, .15);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 300px));
    gap: 16px;
    justify-content: center;
    max-width: 1040px;
  }
  .card-wrapper {
    border: 1px solid rgba(0, 0, 0, .15);

    .card {
      border-radius: 4px;

      .label {
        color: rgba(0, 0, 0, .5);
      }

      strong {
        display: block;
        margin-bottom: 16px;
      }
    }

    .actions {
      // border: 1px solid rgba(0, 0, 0, .15);
      text-align: end;
      padding: 12px 12px 12px 0;
    }

  }

  .searchForm {
    margin-bottom: 16px;
  }

  .searchField {
    width: 100%;
    max-width: 1030px;
  }
}
