mat-sidenav-container,
mat-sidenav,
mat-sidenav-content{
  min-height: 100vh;
}

$sidemenu-color: #5353d6;

mat-sidenav-container {

  mat-sidenav {
    width: 300px;
    background-color: $sidemenu-color;

    .sidenav-headers {
      font-size: 1rem;
      color: rgba(255, 255, 255, .4);
      margin: 0 24px 0;
      font-weight: 500;
    }

    .avatar{
      padding: 32px 16px 0;
      display: flex;
      align-items: flex-end;
      gap: 16px;
      margin-bottom: 24px;

      .profile-photo {
        $size: 64px;
        width: $size;
        height: $size;

        object-fit: cover;
        object-position: center;
        border-radius: 50%;
      }
      .info {
        $text-color: rgba(255, 255, 255, .8);
        color: $text-color;
        font-size: .85rem;

        .username {
          color: #ffbf00;
        }
        .role {
          font-style: italic;
          color: transparentize($text-color, .2);
          font-weight: 300;
          margin-bottom: 0;
        }
      }

    }

    nav ul {
      list-style: none;
      padding: 0;
    }
    a {
      color: #fff;
      padding: 16px 32px;
      text-decoration: none;
      width: 100%;
      text-align: left;

      img {
        vertical-align: bottom;
      }

      .text {
        margin-left: 8px;
      }
    }
    // padding: 16px;
  }
}
.menu {
  // background-color: $sidemenu-color;
  border: 1px solid #ccc;

  .hamburger-menu {
    transform: scale(1.6);
    margin: 12px;
  }
}
.logout-btn {
  width: 95%;
  display: block;
  margin: 0 auto;
}
