<main>
  <mat-sidenav-container>
    <mat-sidenav [opened]="sideMenuOpened" [mode]="'side'">
      <div class="avatar">

        <img [src]="user.profilePhoto" alt="profile photo" class="profile-photo">
        <div class="info">
          <p>Seja bem vindo <span class="username">{{user.username}}</span></p>
          <p class="role">{{user.role}}</p>
        </div>

      </div>

      <nav>
        <ul>
          <h5 class="sidenav-headers">Menu</h5>
          <li *ngFor="let link of sideMenuLinks">
            <a mat-button [routerLink]="link.routerLink"
            routerLinkActive="router-link-active" [routerLinkActiveOptions]="{ exact: true }">
              <img [src]="link.icon" alt="sidemenu-icon"> <span class="text">{{link.text}}</span>
            </a>
            <mat-divider></mat-divider>
          </li>
          <button mat-flat-button (click)="logOut()" class="logout-btn">Login</button>
        </ul>
      </nav>
    </mat-sidenav>
    <mat-sidenav-content>
      <div class="menu">
        <button mat-icon-button color="primary" class="hamburger-menu" (click)="toggleSideMenu()">
          <mat-icon>menu</mat-icon>
        </button>
      </div>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</main>
