<h1 mat-dialog-title>
  {{ data.mode === 'update' ? 'Actualizando informações' : 'Novo médico'}}
</h1>
<mat-dialog-content>
  <form [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="standard">
      <mat-label>Primeiro nome</mat-label>
      <input matInput formControlName="firstname">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Último nome</mat-label>
      <input matInput formControlName="lastname">
    </mat-form-field>

    <mat-form-field appearance="standard">
      <mat-label>Especialidade</mat-label>
      <mat-select formControlName="specialtyId">
        <mat-option [value]="specialty.id" *ngFor="let specialty of specialties">
          {{specialty.name}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button type="submit" #submit></button>
  </form>
</mat-dialog-content>
<mat-dialog-actions>
  <button mat-raised-button matDialogClose color="primary" (click)="submit.click()" [disabled]="form.invalid">
    {{data.mode === 'update' ? 'Actualizar' : 'Salvar' }}
  </button>
  <button mat-raised-button matDialogClose color="warn">Cancelar</button>
  {{form.value | json}}
</mat-dialog-actions>
