<section class="root">
  <app-search-bar target="specialty" placeholder="Pesquise pela especialidade médica..." (onDataFetched)="setNewData($event)"></app-search-bar>
  <button mat-fab color="primary" class="addNew" matTooltip="Clique para adicionar uma nova especialidade" (click)="addNewSpecialty()">
    <mat-icon>add</mat-icon>
  </button>
  <section class="listing-area">
    <mat-list *ngIf="specialties.length > 0; else emptyResultSetMessage">
      <mat-list-item *ngFor="let specialty of specialties">

        <span class="specialty-value">{{specialty.name}}</span>

        <div class="actions">
          <button mat-mini-fab color="primary" (click)="edit(specialty.id)">
            <mat-icon>edit</mat-icon>
          </button>
          <button mat-mini-fab color="warn" (click)="delete(specialty.id)">
            <mat-icon>delete</mat-icon>
          </button>
        </div>

      </mat-list-item>
    </mat-list>

    <ng-template #emptyResultSetMessage>
      <p class="empty-result-set-message">Sem resultados para mostrar</p>
    </ng-template>
  </section>

</section>
